body {
    margin: 0;
    font-size: 18px;;
}
main {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
h1,h2,h3,p,ul {
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
img {
    max-width: 100%;
}
header,
.summary {
    text-align: center;
    padding: 30px 15px;
    background-color: #ddd;
    margin-bottom: 15px;
    border-radius: 5px;
}
header h2 {
    text-transform: capitalize;
}
.summary {
    margin-bottom: 0;
    text-align: left;
}
section {
    margin-bottom: 45px;
}
ul li a,
.back2home {
    color: #313131;
    background-color: #ddd;
    margin: 5px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
}
.back2home {
    margin: 15px 0;
}
.definition {
    background-color: #ddd;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.definition p {
    margin-bottom: 15px;
}
.definition p:last-child {
    margin-bottom: 0;
}
.definition pre {
    background-color: #f3f0f0;
    padding: 30px;
    border-radius: 5px;
}
strong {
    margin-bottom: 15px;
    display: inline-block;
}
pre {
    display: flex;
    flex-direction: column;
}
code {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #313131;
    color: #f9f9f9;
    margin: 7.5px;
}
h3 {
    margin-bottom: 15px;
}
/* table style */
table tr th:last-child, 
table tr td:last-child {
    text-align: right;
}
table td, table th {
    border: 1px solid #f9f9f9;
    padding: 10px;
}
table {
    width: 70%;
    border-collapse: collapse;
}